.time , .time1
{
    
    text-align: left;
    padding : 25px;
}
.movietext
{
    margin-top: -40px;
    text-align: right;
}
.movietext1
{
    margin-top: -60px;
    text-align: right;
}
.screenno
{
    
    margin-top: -0px;
}

.screen1 , .screen2 , .screen3 
{
    
    height: min-content;
}

.screen11 
{
    border-color: rgb(96, 96, 96);
    border-radius: 10px;
    background-color: white;
    color: rgb(0, 0, 0);
    margin-left: 100px;
    text-align: left;
    padding : 25px;
}
.screen21
{
    border-color: rgb(3, 255, 96);
    border-radius: 10px;
    background-color: white;
    color: rgb(42, 255, 42);
    text-align: left;
    padding : 25px;
    margin-top: -40px;
    margin-left: 100px;
}
.screen31
{
    border-color: rgb(3, 255, 96);
    border-radius: 10px;
    background-color: white;
    color: rgb(42, 255, 42);
    margin-left: 100px;
    text-align: left;
    padding : 25px;
}
.screen12
{
    border-color: rgb(3, 255, 96);
    border-radius: 10px;
    background-color: white;
    color: rgb(48, 135, 48);
    
    margin-left: 30px;
    text-align: left;
    padding : 25px;
}
.screen22
{
    border-color: rgb(3, 255, 96);
    border-radius: 10px;
    background-color: white;
    color: rgb(48, 135, 48);
    margin-left: 30px;
    text-align: left;
    padding : 25px;
}
.screen32
{
    border-color: rgb(3, 255, 96);
    border-radius: 10px;
    background-color: white;
    color: rgb(48, 135, 48);
    margin-left: 30px;
    text-align: left;
    padding : 25px;
}

.screen13
{
    border-color: rgb(3, 255, 96);
    border-radius: 10px;
    background-color: white;
    color: rgb(48, 135, 48);
    margin-left: 100px;
    margin-top: 35px;    
    text-align: left;
    padding : 25px;
}
.screen23
{
    border-color: rgb(249, 164, 6);
    border-radius: 10px;
    background-color: white;
    color: rgb(171, 112, 10);
    margin-left: 100px;
    margin-top: 35px;    
    text-align: left;
    padding : 25px;
}
.screen33
{
    border-color: rgb(3, 255, 96);
    border-radius: 10px;
    background-color: white;
    color: rgb(48, 135, 48);
    margin-left: 100px;
    margin-top: 35px;    
    text-align: left;
    padding : 25px;
}
.screen14
{
    border-color: rgb(249, 164, 6);
    border-radius: 10px;
    background-color: white;
    color: rgb(171, 112, 10);
    margin-left: 30px;
    text-align: left;
    padding : 25px;
}
/* .screen14
{
    border-color: rgb(3, 255, 96);
    border-radius: 10px;
    background-color: white;
    color: rgb(48, 135, 48);
    margin-top: 35px;    
    text-align: left;
    padding : 25px;
} */
.screen24
{
    border-color: rgb(3, 255, 96);
    border-radius: 10px;
    background-color: white;
    color: rgb(48, 135, 48);
    margin-top: 35px;  
    margin-left: 28px;  
    text-align: left;
    padding : 25px;
}
.screen34
{
    border-color: rgb(249, 164, 6);
    border-radius: 10px;
    background-color: white;
    color: rgb(171, 112, 10);
    margin-top: 35px;   
    margin-left: 28px;   
    text-align: left;
    padding : 25px;
}
